@use '@styles/index.scss' as *;
.layout {
	margin-top: 2rem;
}
.output {
	max-width: 37.5rem;
	margin-inline: auto;
	text-align: center;
	font-size: 1.5rem;
	background-color: rgba(255, 255, 255, 0.06);
	padding: 0.75rem;
	margin-block: 1.5rem;
	border-radius: 0.5rem;
	height: fit-content;
	transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) allow-discrete;
}
.form__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.25rem;
}
.form {
	display: grid;
	max-width: 37.5rem;
	margin-inline: auto;

	gap: 1.25rem;
	&__input {
		padding: 0.875rem;
	}

	button {
		background-color: #0275d8;
		color: white;
		padding-block: 0.75rem;
		&:is(:disabled) {
			background-color: rgb(125, 125, 125);
		}
	}
}

.title {
	text-align: center;
	font-size: 1.125rem;
}

.footer {
	margin-top: 2rem;
	&__container {
		max-width: 37.5rem;
		display: flex;
		margin-inline: auto;
		gap: 1.25rem;
		justify-content: center;
	}
}
